/* CSS */
.form-label {
  display: block;
  margin: 15px 0px 5px 0px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 14px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-input:focus {
  outline: none;
  border-color: rgb(255, 221, 0);
  box-shadow: 0 0 6px rgb(255, 221, 0);
}
