.add-survey ::-webkit-scrollbar {
  display: none;
}
.add-survey {
  overflow-y: hidden;
  height: 93vh;
}
.add-survey-form {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  gap: 10px;
  max-height: 100%;
  overflow-y: scroll;
  width: 400px;
}

.questions-title {
  margin-top: 20px;
}

.question-type {
  margin-top: 10px;
}

.question-type label {
  margin-right: 20px;
  font-weight: bold;
}

.question-type select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.question-type select:focus {
  outline: none;
  border-color: rgb(255, 221, 0);
  box-shadow: 0 0 6px rgb(255, 221, 0);
}

.add-question {
  width: fit-content;
  margin: 20px 0 40px 0;
  position: sticky;
  bottom: 0; /* Stick the button to the bottom */
  z-index: 1; /* Ensure it stays above the scrolling content */
}
