.form {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  gap: 30px;
  width: 400px;
}

.form-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}
.form p {
  margin: 20px 10px 10px 10px;
  font-size: 14px;
}

.form p a {
  color: #0095f6;
  text-decoration: none;
}

img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.user-type {
  display: flex;
  justify-content: center;
  width: 100%;
}
.user-type p {
  display: block;
  margin: 15px 0px 5px 0px;
  font-weight: bold;
  font-size: 16px;
}

.radio-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
